*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: auto;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/*************** Header ***************/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid red;
}

.logo {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.logo > img {
  width: 100%;
}
.nav-items > ul {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  list-style: none;
  font-size: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.nav-items > ul :hover {
  color: aqua;
}

#active {
  color: aqua;
}

/* Body */

.rest-container {
  flex-wrap: wrap;
  margin: 0 auto;
}

.rest-cards {
  max-width: 250px;
  min-width: 250px;
  border: 1px solid red;
  padding: 5px;
}

.rest-card-img {
  width: 100%;
  height: 180px;
}

/* search container */
.search-container {
  margin: 20px;
}
.search-btn {
  padding: 5px 10px;
  cursor: pointer;
}

/* Shimmer container */
.shimmer-container {
  width: 250px;
  height: 250px;
  border: 1px solid red;
  padding: 5px;
}

.login-btn {
  background-color: gray;
  padding: 5px;
  cursor: pointer;
}

.search-input {
  padding: 5px;
}
